{
  "swagger": "2.0",
  "info": {
    "version": "V1",
    "title": "Catálogo de APIs Benner",
    "x-swagger-net-version": "8.3.12.104",
    "contact": {
      "name": "Benner Sistemas",
      "url": "http://www.benner.com.br"
    }
  },
  "host": "seguro-pjur.transpetro.com.br",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/api/Agenda": {
      "get": {
        "tags": [
          "Agenda"
        ],
        "operationId": "Agenda_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "codigoCompromisso",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/AtualizaItensLoteStatus": {
      "get": {
        "tags": [
          "AtualizaItensLoteStatus"
        ],
        "operationId": "AtualizaItensLoteStatus_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "src",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/CampoCalculado": {
      "get": {
        "tags": [
          "CampoCalculado"
        ],
        "operationId": "CampoCalculado_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "src",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/Cast/acesso/consultarAcessos.svc": {
      "get": {
        "tags": [
          "CAST"
        ],
        "operationId": "CAST_ListarAcessos",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Benner.Juridico.Transpetro.DataContracts.Cast.ListaAcessosResponse"
            }
          }
        }
      }
    },
    "/api/Cast/usuario/consultarUsuario.svc/{Chave}": {
      "get": {
        "tags": [
          "CAST"
        ],
        "operationId": "CAST_ConsultaAcessousuario",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "Chave",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Benner.Juridico.Transpetro.DataContracts.Cast.AcessoUsuarioResponse"
            }
          }
        }
      }
    },
    "/api/Cast/usuario/consultarUsuarios.svc": {
      "get": {
        "tags": [
          "CAST"
        ],
        "operationId": "CAST_ConsultaAcessoTodos",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Benner.Juridico.Transpetro.DataContracts.Cast.AcessoUsuarioResponse"
            }
          }
        }
      }
    },
    "/api/Cast/acesso/ConcederAcessoUsuario.svc": {
      "post": {
        "tags": [
          "CAST"
        ],
        "operationId": "CAST_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Benner.Juridico.Transpetro.DataContracts.Cast.CastRequest.Root"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Benner.Juridico.Transpetro.DataContracts.Cast.CastResponse"
            }
          }
        }
      }
    },
    "/api/Cast/acesso/validarAcessos.svc": {
      "get": {
        "tags": [
          "CAST"
        ],
        "operationId": "CAST_Valida",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request.usuario.chave",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.usuario.nome",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.usuario.funcao",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.usuario.email",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.usuario.imovel",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.usuario.nomeGestor",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.usuario.chaveGestor",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.usuario.telefone",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.usuario.dataVigenciaAcessoInicio",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.usuario.dataVigenciaAcessoFim",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.usuario.itemList",
            "in": "query",
            "required": false,
            "items": {
              "type": "object"
            },
            "collectionFormat": "multi",
            "type": "array"
          },
          {
            "name": "request.usuario.nivelList",
            "in": "query",
            "required": false,
            "items": {},
            "collectionFormat": "multi",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Benner.Juridico.Transpetro.DataContracts.Cast.ValidaAcessoResponse"
            }
          }
        }
      }
    },
    "/api/Cast/usuario/removerAcessoUsuario.svc": {
      "post": {
        "tags": [
          "CAST"
        ],
        "operationId": "CAST_RemoverAcesso",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Benner.Juridico.Transpetro.DataContracts.Cast.RemoverAcessoRequest.Root"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Benner.Juridico.Transpetro.DataContracts.Cast.CastResponse"
            }
          }
        }
      }
    },
    "/api/v1/jur/centrocustos/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "CentrosDeCustos"
        ],
        "summary": "Buscar Centros de Custos",
        "operationId": "CentrosDeCustos_BuscarCentroCusto",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/ChartsImobiliario": {
      "get": {
        "tags": [
          "ChartsImobiliario"
        ],
        "operationId": "ChartsImobiliario_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "type": "object"
              },
              "type": "array"
            }
          }
        }
      }
    },
    "/api/ChartsMainPage": {
      "get": {
        "tags": [
          "ChartsMainPage"
        ],
        "operationId": "ChartsMainPage_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "type": "object"
              },
              "type": "array"
            }
          }
        }
      }
    },
    "/api/Classificacao": {
      "get": {
        "tags": [
          "Classificacao"
        ],
        "operationId": "Classificacao_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Controllers.Api.ClassificacaoController.Registro"
              },
              "xml": {
                "name": "Registro",
                "wrapped": true
              },
              "type": "array"
            }
          }
        }
      }
    },
    "/api/clearcache": {
      "post": {
        "tags": [
          "ClearCache"
        ],
        "summary": "Limpa caches com ou sem reiniciar a pool.",
        "operationId": "ClearCache_ClearCache",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "reloadPoolString",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Represents a HTTP response message.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/clearcachecategories": {
      "post": {
        "tags": [
          "ClearCache"
        ],
        "summary": "Limpa caches de acordo com as categorias passadas.",
        "description": "Exemplos:\r\n            \r\n    {\r\n       \"View\": 4,\r\n    }\r\n    \r\n    ou múltiplas categorias:\r\n    \r\n    {\r\n       \"View\": 4,\r\n       \"Filter\": 256\r\n    }",
        "operationId": "ClearCache_ClearCacheCategories",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "categories",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Represents a HTTP response message.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/comarcas/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Comarcas"
        ],
        "summary": "Buscar Comarcas",
        "operationId": "Comarcas_BuscarComarca",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/Compra": {
      "get": {
        "tags": [
          "Compra"
        ],
        "operationId": "Compra_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "type": "array"
            }
          }
        }
      }
    },
    "/api/ConsultasExportadas/Arquivos/{nomeConsulta}": {
      "get": {
        "tags": [
          "ConsultasExportadas"
        ],
        "summary": "Busca um arquivo csv de fonte de dados conforme o nome informado.",
        "operationId": "ConsultasExportadas_GetConsulta",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "nomeConsulta",
            "in": "path",
            "description": "Request para obter arquivo csv conforme o nome informado.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Represents a HTTP response message.",
              "type": "object"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/ContratadoApontado": {
      "get": {
        "tags": [
          "ContratadoApontado"
        ],
        "operationId": "ContratadoApontado_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "type": "array"
            }
          }
        }
      }
    },
    "/api/v1/jur/contrato/{handle}/envioaprovacao": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "summary": "Comando para Enviar um Contrato para Aprovação",
        "operationId": "Contratos_EnviarContratoAprovacao",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contrato/{handleContrato}/aditivo/{handleAditivo}/envioaprovacao": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "summary": "Comando para Enviar um Aditivo para Aprovação",
        "operationId": "Contratos_EnviarAditivoAprovacao",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handleContrato",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "handleAditivo",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contratos/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "summary": "Buscar Contratos",
        "operationId": "Contratos_RetornarContratos",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contrato": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "summary": "Inserir um Novo Contrato",
        "operationId": "Contratos_CriarContrato",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contrato/{handle}": {
      "put": {
        "tags": [
          "Contratos"
        ],
        "summary": "Editar um Contrato Já Existente",
        "operationId": "Contratos_AtualizarContrato",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contratos"
        ],
        "summary": "Excluir um Contrato Existente",
        "operationId": "Contratos_ExcluirContrato",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contratos/aditivos/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "summary": "Buscar Aditivos",
        "operationId": "Contratos_BuscarAditivo",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contratos/aditivo": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "summary": "Inserir um Aditivo a um Contrato",
        "operationId": "Contratos_CriarAditivo",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contratos/aditivo/{handle}": {
      "put": {
        "tags": [
          "Contratos"
        ],
        "summary": "Editar um Aditivo Já Existente",
        "operationId": "Contratos_AtualizarAditivo",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contratos"
        ],
        "summary": "Excluir um Aditivo Existente",
        "operationId": "Contratos_ExcluirAditivo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contratos/documentos": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "summary": "Buscar Documentos de Contratos ou Aditivos",
        "operationId": "Contratos_BuscarDocumentos",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contratos/documento": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "summary": "Inserir Documento em um Contrato ou Aditivo",
        "operationId": "Contratos_InserirDocumento",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contratos/documento/{handle}": {
      "put": {
        "tags": [
          "Contratos"
        ],
        "summary": "Editar Documento de um Contrato ou Aditivo",
        "operationId": "Contratos_EditarDocumento",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contratos"
        ],
        "summary": "Excluir Documento de um Contrato ou Aditivo",
        "operationId": "Contratos_ExcluirDocumento",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contratos/minutas/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "summary": "Buscar Minuta para o Contrato",
        "operationId": "Contratos_BuscarMinuta",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contratos/alcadas/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "summary": "Buscar Alçada para o Contrato",
        "operationId": "Contratos_BuscarAlcada",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contratos/classificacoes/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "summary": "Buscar Classificação para o Contrato",
        "operationId": "Contratos_BuscarClassificacao",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contratos/motivosrelevancia/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "summary": "Buscar Motivo de Relevância para o Contrato",
        "operationId": "Contratos_BuscarMotivoRelevancia",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contratos/motivosencerramento/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "summary": "Buscar Motivo de Encerramento para o Contrato",
        "operationId": "Contratos_BuscarMotivoEncerramento",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/contratos/motivosreativacao/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Contratos"
        ],
        "summary": "Buscar Motivo de Reativação para o Contrato",
        "operationId": "Contratos_BuscarMotivoReativacao",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/CreateURL/GetUrlEmpresa": {
      "get": {
        "tags": [
          "CreateURL"
        ],
        "operationId": "CreateURL_GetUrlEmpresa",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/CreateURL/GetUrlInstalacao": {
      "get": {
        "tags": [
          "CreateURL"
        ],
        "operationId": "CreateURL_GetUrlInstalacao",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/CreateURL": {
      "get": {
        "tags": [
          "CreateURL"
        ],
        "operationId": "CreateURL_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "src",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/datasources": {
      "get": {
        "tags": [
          "DataSources"
        ],
        "summary": "Lista consultas disponíveis no sistema",
        "operationId": "DataSources_GetDataSources",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/datasources/{id}/metadata": {
      "get": {
        "tags": [
          "DataSources"
        ],
        "summary": "Vistualiza o metadado da consulta",
        "operationId": "DataSources_GetMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificação da consulta",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/datasources/{id}": {
      "get": {
        "tags": [
          "DataSources"
        ],
        "summary": "Executa a consulta e retorna os dados",
        "operationId": "DataSources_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Indentificação da consulta",
            "required": true,
            "type": "string"
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "índice inicial da pagínação",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "número de registros que devem ser retornados",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/departamentos/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Departamentos"
        ],
        "summary": "Buscar Departamentos",
        "operationId": "Departamentos_BuscarDepartamento",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/DesmontaInformacoesGuia": {
      "get": {
        "tags": [
          "DesmontaInformacoesGuia"
        ],
        "operationId": "DesmontaInformacoesGuia_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "src",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "additionalProperties": {
                  "type": "object"
                },
                "type": "object"
              },
              "xml": {
                "name": "Dictionary`2",
                "wrapped": true
              },
              "type": "array"
            }
          }
        }
      }
    },
    "/api/v1/jur/divisoes/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Divisoes"
        ],
        "summary": "Buscar Divisões",
        "operationId": "Divisoes_BuscarDivisao",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/filiais/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Filiais"
        ],
        "summary": "Buscar Filiais",
        "operationId": "Filiais_BuscarFilial",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/filiais/unidades/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Filiais"
        ],
        "summary": "Buscar Unidades de uma Filial",
        "operationId": "Filiais_BuscarUnidadeFilial",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/FiltroPessoas": {
      "post": {
        "tags": [
          "FiltroPessoas"
        ],
        "operationId": "FiltroPessoas_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "args",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/Groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Obtém listagem de grupos da base de dados.\r\nVisão: Z_GRUPOS.REST.GRID",
        "operationId": "Groups_GetGroups",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startIndex",
            "in": "query",
            "description": "Índice de início para consultas paginadas.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "count",
            "in": "query",
            "description": "Quantidade de registros a serem retornados (default = 10).",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Campo de ordenação (deve pertencer à visão).",
            "required": false,
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Cria um novo grupo na base de dados.\r\nVisão: Z_GRUPOS.REST.FORM",
        "operationId": "Groups_NewGroup",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "group",
            "in": "body",
            "description": "Grupo a ser criado.",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/Groups/{groupName}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Obtém detalhes de um grupo específico.\r\nVisão: Z_GRUPOS.REST.FORM",
        "operationId": "Groups_GetGroup",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "groupName",
            "in": "path",
            "description": "Nome do grupo a ser consultado.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Atualiza um grupo na base de dados.\r\nVisão: Z_GRUPOS.REST.FORM",
        "operationId": "Groups_AlterGroup",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "groupName",
            "in": "path",
            "description": "Nome do grupo a ser atualizado.",
            "required": true,
            "type": "string"
          },
          {
            "name": "group",
            "in": "body",
            "description": "Grupo com os valores a serem atualziados.",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/InfoCombosDocumentosLote": {
      "get": {
        "tags": [
          "InfoCombosDocumentosLote"
        ],
        "operationId": "InfoCombosDocumentosLote_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "src",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/JuridicoAssistente": {
      "get": {
        "tags": [
          "JuridicoAssistant"
        ],
        "operationId": "JuridicoAssistant_GetInformacoesDetalhadasPasta",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request.action",
            "in": "query",
            "description": "Nome da ação à qual o objeto de request será enviado.",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.parameters",
            "in": "query",
            "description": "Parâmetros da requisição, recebidos como dynamic, de acordo com o definido na plataforma de assistente virtual.",
            "required": false,
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Benner.Tecnologia.Wes.Components.VirtualAssistant.VirtualAssistantResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "JuridicoAssistant"
        ],
        "operationId": "JuridicoAssistant_AcessoAgendaToPasta",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Benner.Tecnologia.Wes.Components.VirtualAssistant.VirtualAssistantRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Benner.Tecnologia.Wes.Components.VirtualAssistant.VirtualAssistantResponse"
            }
          }
        }
      }
    },
    "/api/lgpd/personal_report/{document}": {
      "get": {
        "tags": [
          "LGPD"
        ],
        "summary": "Emite relatório de informações pessoais para determinado titular",
        "operationId": "LGPD_GetPersonalDataReport",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "document",
            "in": "path",
            "description": "Documento do titular",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/lgpd/mapping_report": {
      "get": {
        "tags": [
          "LGPD"
        ],
        "summary": "Emite relatório de mapeamento de dados",
        "operationId": "LGPD_GetMappingReport",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/lgpd/anonymize": {
      "post": {
        "tags": [
          "LGPD"
        ],
        "summary": "Dispara a anonimização de todos os registros do titular identificado pelo documento. Essa operação altera dados de forma irreversível.",
        "operationId": "LGPD_AnonymizeByDocument",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "document",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/LoteDocumentos/GetTipoDocumentoSearchContext": {
      "get": {
        "tags": [
          "LoteDocumentos"
        ],
        "operationId": "LoteDocumentos_GetTipoDocumentoSearchContext",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/LoteDocumentos/GetPastaVirtualSearchContext": {
      "get": {
        "tags": [
          "LoteDocumentos"
        ],
        "operationId": "LoteDocumentos_GetPastaVirtualSearchContext",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/LoteDocumentos": {
      "get": {
        "tags": [
          "LoteDocumentos"
        ],
        "operationId": "LoteDocumentos_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        }
      }
    },
    "/api/v1/jur/moedas/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Moedas"
        ],
        "summary": "Buscar Moedas",
        "operationId": "Moedas_BuscarMoeda",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/MonitoramentoStatus/GetUltimoMonitoramentoStatus": {
      "get": {
        "tags": [
          "Monitoramento"
        ],
        "operationId": "Monitoramento_GetUltimoMonitoramentoStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/MontaInformacoesGuia": {
      "get": {
        "tags": [
          "MontaInformacoesGuia"
        ],
        "operationId": "MontaInformacoesGuia_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "src",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/MontaUrlAnexarDocumentos": {
      "get": {
        "tags": [
          "MontaUrlAnexarDocumentos"
        ],
        "operationId": "MontaUrlAnexarDocumentos_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "src",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/MontaUrlInformacoesGuia": {
      "get": {
        "tags": [
          "MontaUrlInformacoesGuia"
        ],
        "operationId": "MontaUrlInformacoesGuia_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "src",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/MontaUrlParticipante": {
      "get": {
        "tags": [
          "MontaUrlParticipante"
        ],
        "operationId": "MontaUrlParticipante_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "src",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "tipoSolicitacao",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "handleSolicitacao",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/NIP/CPF={CPF}/ListarNips": {
      "get": {
        "tags": [
          "NIP"
        ],
        "summary": "API para consulta de NIPs vinculadas a um beneficiário.",
        "operationId": "NIP_GetNipsBeneficiario",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "CPF",
            "in": "path",
            "description": "CPF do Beneficiário (com ou sem máscara)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Benner.Juridico.WebApp.API.NIP.Response.ResponseConsultaNIP"
              },
              "xml": {
                "name": "ResponseConsultaNIP",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/NIP/DataAndamento={DataAndamento}/ListarNips": {
      "get": {
        "tags": [
          "NIP"
        ],
        "summary": "API para consulta de NIPs que possuem andamentos a partir de uma data (Data do andamento na ANS).",
        "operationId": "NIP_GetNipsDataAndamento",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "DataAndamento",
            "in": "path",
            "description": "Data de início dos andamentos (AAAA-MM-DD)",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Benner.Juridico.WebApp.API.NIP.Response.ResponseConsultaNIP"
              },
              "xml": {
                "name": "ResponseConsultaNIP",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/NIP/DataCadastroAndamento={DataCadastroAndamento}/ListarNips": {
      "get": {
        "tags": [
          "NIP"
        ],
        "summary": "API para consulta de NIPs que possuem andamentos cadastrados no sistema a partir de uma data (Data de inclusão no sistema).",
        "operationId": "NIP_GetNipsDataCadastroAndamento",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "DataCadastroAndamento",
            "in": "path",
            "description": "Data de início das inclusões dos andamentos (AAAA-MM-DD)",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Benner.Juridico.WebApp.API.NIP.Response.ResponseConsultaNIP"
              },
              "xml": {
                "name": "ResponseConsultaNIP",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/NIP/GetResumoNips": {
      "get": {
        "tags": [
          "NIP"
        ],
        "summary": "Busca uma versão resumida da situação atual de NIPs que sofreram alguma alteração no período especificado (Data de alteração).",
        "operationId": "NIP_GetResumoNipsDataAlteracao",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "DataInicial",
            "in": "query",
            "description": "Data de início das alterações em NIPs (AAAA-MM-DD)",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "DataFinal",
            "in": "query",
            "description": "Data final das alterações em NIPs (AAAA-MM-DD)",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/Benner.Juridico.WebApp.API.NIP.Response.ResponseResumoNIP"
              },
              "xml": {
                "name": "ResponseResumoNIP",
                "wrapped": true
              },
              "type": "array"
            }
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "NotFound"
          }
        }
      }
    },
    "/api/v1/jur/parecer/{handle}/envioaprovacao": {
      "post": {
        "tags": [
          "Pareceres"
        ],
        "summary": "Comando para Enviar o Parecer para Aprovação",
        "operationId": "Pareceres_EnviarAprovacao",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/pareceres/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Pareceres"
        ],
        "summary": "Buscar Pareceres",
        "operationId": "Pareceres_RetornarPareceres",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/parecer": {
      "post": {
        "tags": [
          "Pareceres"
        ],
        "summary": "Inserir um Novo Parecer",
        "operationId": "Pareceres_CriarParecer",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/parecer/{handle}": {
      "put": {
        "tags": [
          "Pareceres"
        ],
        "summary": "Editar um Parecer",
        "operationId": "Pareceres_AtualizarParecer",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Pareceres"
        ],
        "summary": "Excluir um Parecer Existente",
        "operationId": "Pareceres_ExcluirParecer",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/pareceres/autores/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Pareceres"
        ],
        "summary": "Buscar Outros Autores de um Parecer",
        "operationId": "Pareceres_RetornarOutrosAutores",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/pareceres/autor": {
      "post": {
        "tags": [
          "Pareceres"
        ],
        "summary": "Inserir Outro Autor no Parecer",
        "operationId": "Pareceres_CriarOutroAutor",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/pareceres/autor/{handle}": {
      "put": {
        "tags": [
          "Pareceres"
        ],
        "summary": "Editar um Autor do Parecer",
        "operationId": "Pareceres_AtualizarAutor",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Pareceres"
        ],
        "summary": "Excluir Autor de um Parecer",
        "operationId": "Pareceres_ExcluirAutorParecer",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/pareceres/documentos": {
      "post": {
        "tags": [
          "Pareceres"
        ],
        "summary": "Buscar Documentos",
        "operationId": "Pareceres_BuscarDocumentos",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/pareceres/documento": {
      "post": {
        "tags": [
          "Pareceres"
        ],
        "summary": "Inserir Documento em um Parecer",
        "operationId": "Pareceres_InserirDocumento",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/pareceres/documento/{handle}": {
      "put": {
        "tags": [
          "Pareceres"
        ],
        "summary": "Editar Documento de um Parecer",
        "operationId": "Pareceres_EditarDocumento",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Pareceres"
        ],
        "summary": "Excluir Documento de um Parecer",
        "operationId": "Pareceres_ExcluirDocumento",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/pareceres/assuntos/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Pareceres"
        ],
        "summary": "Buscar Assunto Pré-Definido para o Parecer",
        "operationId": "Pareceres_BuscarAssunto",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "text/xml",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "startRowIndex",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maximumRows",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "orderBy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "additionalProperties": {
                "type": "object"
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Defines a command that asynchronously creates an {System.Net.Http.HttpResponseMessage}.",
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/jur/pareceres/projetos/{startRowIndex}/{maximumRows}/{orderBy}": {
      "post": {
        "tags": [
          "Pareceres"
[...]
